.h-primary {
    font-size: 3rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: brown;
    color: white;
    border-radius: 1rem;
    margin:2px 5px;
    font-size: 1rem;
    cursor: pointer;
}
.center{
    text-align: center;
}
.h-container {
    font-size: 2.5rem;
    
}
